body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #fb690f;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #666;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 0 1em;
}

/* Açılır menü style */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    background-color: #666;
    color: #fff;
    padding: 0.5em 1em;
    margin: 0 1em;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #666;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #fb690f;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    padding: 2em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.countdown-box {
    background-color: #fb690f;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin:auto;
    position: absolute;
    margin-left: 50%;
    
    transform: translate(-50%, -50%);
}
.resimSlider{
    height: 450px;
}

 .logo{
    width: 150px;
    padding-right: 2% ;
    margin-left: 32px;
    
 }
